@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&family=Lora:wght@700&family=Roboto&display=swap');

/* Nav Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
}

.header {
    /* background-color: aquamarine; */
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}
.logo {
    font-family: 'Cairo';
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}
.header .menu_list {
    list-style: none;
}
.header .menu_list li {
    display: inline;
    margin: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 550;
    font-size: 13px;
    line-height: 125%;
}
.sign-in {
    border: 1px solid purple;
    border-radius: 50px;
    padding: 10px 20px;
}
.register {
    border: none;
    background-color: purple;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}
.sign_in, .register {
    margin: 0px 30px;
}